img{
    height: 34vh;
}

canvas{
    width: 101vw !important;
    height: 32vh !important;
}

.chart{
    position: relative;
    right: 3px;
}

.refresh{    
    font-size: 38px;
}

.thumb{
    font-size: 72px;
    margin: 10px;
}