   <ion-content>
    <div class="login-wrap">
      <div class="login-html">
        Bienvenido a METEGOL
        <div class="image" *ngIf="perfil=='admin'">
          <h2><span>CREAR PARTIDO</span></h2>
          <img src="../../../assets/imagenes/casa_linda.png" (click)="crearPartido()" class="button">
          
        </div>
        <div class="image">
          <h2><span>LISTADO DE PARTIDOS</span></h2>
          <img src="../../../assets/imagenes/casa_linda.png" (click)="listado()" class="button">
        </div>
        <!-- <app-botones [type]="'lindas'" [photoUrl]="'../../../assets/images/lindas.png'" [destinationUrl]="'/main/camera/lindas'"></app-botones>
        <app-botones [type]="'feas'" [photoUrl]="'../../../assets/images/casa_fea.png'" [destinationUrl]="'/main/camera/feas'"></app-botones> -->
      </div>
    </div>
  </ion-content>