<ion-header>
  <ion-toolbar>
    <ion-title>listado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list> 
        <ion-item (click)="editar(item)" *ngFor="let item of listaParaMostrar">
          <ion-label>
            <h2>Jugador1: {{item.jugador1Nombre}}</h2>
            <ion-label>Jugador2: {{item.jugador2Nombre}}</ion-label>
            <ion-label>Hora: {{item.fecha.toDate() | date:'dd/MM/yyyy HH:mm'}}</ion-label>
          </ion-label>
        </ion-item> 
    </ion-list>
</ion-content>
