form{
    padding: 40px;
    padding-top: 60px;
}

ion-button{
    // padding-left: 32%;
    position: inherit;
}

ion-item{
    ion-label{
        color: #054a4c;
        font-family: sans-serif;
    }   
}
ion-header{
    ion-toolbar{
        ion-button{
            font-size: 20px;
            color: antiquewhite;
        }
        ion-title{
            text-transform: uppercase;
            text-align: center;
        }
    } 
}
