<ion-content>
   <div class="login">
    <div class="imgContainer"><img src="../../../assets/imagenes/icon.png"></div>
    <div class="login-wrap">
    <div class="login-html">      
      <form class="form" [formGroup]="form" (ngSubmit)="onSubmitLogin(form.value)">
        <div class="group">
          <ion-label for="usuario" class="label" position="floating">Correo electrónico</ion-label>
          <input type="email" class="input" formControlName="email" required>
        </div>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message"
              *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <div class="group">
          <ion-label for="pass" class="label" position="floating">Contraseña</ion-label>
          <input type="password" class="input" formControlName="password" data-type="password" required>
        </div>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
              *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <br>
        <div class="group">
          <ion-button shape="round" type="submit" [disabled]="!form.valid">Ingresar</ion-button>
                 
        </div>
      </form>
      <div class="hr"></div>     
      <ion-item id="defaultUsers">
        <ion-label>Usuarios </ion-label>
        <ion-select okText="Aceptar" cancelText="Cancelar" [(ngModel)]="usuario" (ionChange)="setDefaultUser()">
          <ion-select-option *ngFor="let usuario of defaultUsers" [value]="usuario">{{usuario.email}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
</div>
</ion-content>