<ion-header>
  <ion-toolbar>
    <ion-title>Actualizar Partido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form class="form" *ngIf="partido != undefined">
        <ion-item *ngIf="partido.estado == 'finalizado'">
          <ion-label position="floating">Ganador</ion-label>
          <ion-input type="text" required [(ngModel)]="partido.ganador" name="ganador" disabled></ion-input>
        </ion-item>

        <ion-item *ngIf="partido.estado != 'finalizado'">
            <ion-label position="floating">Ganador</ion-label>
            <ion-input type="text" required [(ngModel)]="partido.ganador" name="ganador" ></ion-input>
          </ion-item>
       
        
        <!-- <ion-item>
          <ion-label position="floating">Tipo</ion-label>
          <ion-input type="text" required [(ngModel)]="mesa.tipo" name="tipo"></ion-input>
        </ion-item> -->
       


        <ion-button color="primary" (click)="tomarFoto()">Tomar Foto</ion-button>
        <ion-button color="warning" (click)="cerrarModal()">Cancelar</ion-button>
        <ion-button color="success" (click)="actualizarPartido()">Actualizar Datos</ion-button>
      </form>
      
      
     
</ion-content>
