<ion-header>
    <ion-toolbar color="tituloLindas"> 
        <ion-title style="color: rgb(255, 255, 255);
                          text-transform: uppercase;
                          text-align: center;">
    Actualizar Partido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form class="form" *ngIf="partido != undefined">
        <ion-card class="card">
            <ion-card-content *ngIf="partido.foto != undefined">          
              <img [src]="partido.foto">
         </ion-card-content>
         </ion-card>
        <br><br>
        
        <ion-item class="group">
            <ion-label style="font-size: x-large; color: brown; font-family: revert;" 
            for="ganador" class="label" position="floating">Ganador</ion-label>
            <br>
            <ion-select placeholder="Seleccione un Jugador" [(ngModel)]="partido.ganador" name="sector">
              <ion-select-option value="{{partido.jugador1Nombre}}">{{partido.jugador1Nombre}}</ion-select-option>
              <ion-select-option value="{{partido.jugador2Nombre}}">{{partido.jugador2Nombre}}</ion-select-option>
            </ion-select>
          </ion-item>


        <!-- <ion-item *ngIf="partido.estado == 'finalizado'">
          <ion-label position="floating">Ganador</ion-label>
          <ion-input type="text" required [(ngModel)]="partido.ganador" name="ganador" disabled></ion-input>
        </ion-item>

        <ion-item *ngIf="partido.estado != 'finalizado'">
            <ion-label position="floating">Ganador</ion-label>
            <ion-input type="text" required [(ngModel)]="partido.ganador" name="ganador" ></ion-input>
          </ion-item>
        -->
        
        <!-- <ion-item>
          <ion-label position="floating">Tipo</ion-label>
          <ion-input type="text" required [(ngModel)]="mesa.tipo" name="tipo"></ion-input>
        </ion-item> -->
       


        <ion-button style="margin-left: 35%;" color="primary" (click)="tomarFoto()">Tomar Foto</ion-button>
        <br><br>
        <ion-button style="margin-left: 15%;" color="warning" (click)="cerrarModal()">Cancelar</ion-button>
        <ion-button color="success" (click)="actualizarPartido()">Actualizar Datos</ion-button>
      </form>
      
      
     
</ion-content>
